@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background-primary: #c1deff;
  --color-background-secondary: #84afff;
  --color-background-tertiary: #5c8de9;
  --color-info-success: #16a34a;
  --color-info-error: #b91c1c;
}

.dark {
  --color-background-primary: #1e293b;
  --color-background-secondary: #3b82f6;
}